@charset "UTF-8";
*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-optical-sizing: auto;
  color: #000000;
  font-weight: 400;
  line-height: 1.2;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  min-width: 1280px;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1439px) {
  .container {
    min-width: initial;
  }
}

@media (max-width: 1023px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  width: 100%;
}

.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 205px;
  padding: 40px 0;
}
@media (max-width: 1919px) {
  .header_top {
    gap: 100px;
  }
}
@media (max-width: 1439px) {
  .header_top {
    gap: 30px;
  }
}
@media (max-width: 1439px) {
  .header_top svg {
    width: 150px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .header_top svg {
    margin-top: 10px;
    width: 100px;
  }
}

@media (max-width: 767px) {
  .header_logo img {
    width: 100%;
    max-width: 65%;
  }
}

@media (max-width: 767px) {
  .header_logo {
    width: 100%;
  }
}

.navigation {
}

@media (max-width: 1439px) {
  .navigation {
    margin-left: 5%;
  }
}
@media (max-width: 1023px) {
  .navigation {
    display: none;
  }
}

.header_email {
}

@media (max-width: 1023px) {
  .header_email {
    display: none;
  }
}

.navigation ul {
  display: flex;
  list-style: none;
  gap: 125px;
  margin-top: -10px;
  width: 100%;
}
@media (max-width: 1919px) {
  .navigation ul {
    gap: 70px;
  }
}
@media (max-width: 1439px) {
  .navigation ul {
    gap: 30px;
  }
}
.navigation a {
  font-size: 27px;
  transition: 0.6s ease;
  border-bottom: 1.5px solid transparent;
  padding-bottom: 2px;
}
.navigation a:hover {
  color: #00bcd4;
  border-color: #00bcd4;
}
@media (max-width: 1439px) {
  .navigation a {
    font-size: 18px;
  }
}

.navigation_email {
  margin-left: auto;
}

.burger-menu {
  display: none;
}
@media (max-width: 1023px) {
  .burger-menu {
    position: relative;
    display: block;
  }
}

.burger-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 10;
  color: #000000;
  border-radius: 50%;
  padding: 10px 15px;
}

.burger-btn .icon-close {
  display: none;
  font-size: 20px;
  color: #ffffff;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  background-color: #333;
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: 9;
}

.menu-overlay.active {
  right: 0;
}

.menu {
  padding: 20px;
  color: #fff;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  margin: 15px 0;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: #00bcd4;
}

.burger-btn.active .icon-open {
  display: none;
}

.burger-btn.active {
  background: transparent;
}

.burger-btn.active .icon-close {
  display: inline-block;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0;
  text-align: center;
  margin-top: 0;
}

.info__bg {
  width: 100%;
  height: auto;
}

.advantages {
  padding: 100px 0;
}

@media (max-width: 1023px) {
  .advantages {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 25px 0;
  }
}

.advantages__list {
  display: grid;
  gap: 20px;
  list-style: none;
  grid-template-columns: 1fr 35%;
  grid-template-rows: auto;
}

@media (max-width: 1023px) {
  .advantages__list {
    grid-template-columns: 1fr;
  }
}

.advantages__titleImg {
  width: 100%;
  height: auto;
  max-width: 25%;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  gap: 35px;
  border-radius: 30px;
  padding: 30px 0;
  background-color: #f6f6f6;
}

.advantages__container {
  padding: 0 30px;
}

.advantages__main-text {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
}

.advantages__text {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
}

.advantages__small-text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .advantages__item {
    padding: 10px 0;
    border-radius: 15px;
  }

  .advantages__container {
    padding: 0 20px;
  }

  .advantages__text {
    margin-top: 5px;
    font-size: 14px;
  }

  .advantages__small-text {
    margin-top: 5px;
    font-size: 14px;
  }

  .advantages__main-text {
    margin-top: 5px;
    font-size: 16px;
  }
}

.advantages__big-img {
  width: 100%;
  height: auto;
}

.advantages__img {
  width: 100%;
  height: auto;
}

.advantages__item--big {
  grid-row: 1 / 3;
}

@media (max-width: 1023px) {
  .advantages__item--big {
    grid-row: auto;
  }
}

.footer {
  margin-top: 150px;
  padding-top: 90px;
  padding-bottom: 70px;
  padding-left: 10px;
  background: url('../img/footer-bg.jpg');
  background-size: cover;
  background-position: 50%;
}

@media (max-width: 1439px) {
  .footer {
    padding-top: 20px;
    margin-top: 20px;
  }
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

@media (max-width: 1023px) {
  .footer_wrapper {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: end;
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .footer_logo {
    width: 80px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .footer_logo img {
    width: 100%;
    height: auto;
  }
}

.footer_copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  font-size: 20px;
  text-align: right;
}

@media (max-width: 1023px) {
  .footer_copyright {
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
  }
}

.footer_copyright a {
  transition: all 0.3s ease;
  padding-bottom: 2px;
  border-bottom: 1.5px solid transparent;
}

.footer_copyright a:hover,
.footer_copyright a:focus {
  color: #00bcd4;
  border-color: #00bcd4;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1023px) {
  .footer_nav {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.footer_nav-title {
  font-size: 18px;
}

.footer_nav-item {
  font-size: 18px;
  color: #888276;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
}

@media (max-width: 1023px) {
  .footer_contacts {
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5px;
  }
}

.footer_contacts a {
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.footer_contacts a:hover,
.footer_contacts a:focus {
  color: #00bcd4;
}

@media (max-width: 767px) {
  .footer_contacts a,
  .footer_nav-item,
  .footer_copyright,
  .footer_nav-title {
    font-size: 16px;
  }
}

.description-container {
  width: 100%;
}

.description-text {
  max-height: 0; /* Скрытое состояние */
  opacity: 0;
  overflow: hidden;
  transition: all 0.7s ease-out; /* Плавный переход */
}
.description-text p {
  margin: 5px 0;
}

.description-text.expanded {
  max-height: 1500px; /* Увеличиваем до нужной высоты при раскрытии */
  opacity: 1;
}

.products_hidden-text.expanded {
  display: none;
  max-height: 0;
  opacity: 0;
  transition: all 0.7s ease-out;
}

.toggle-button,
.toggle-button-product {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  background: linear-gradient(90deg, #00add8 0%, #0eb1a9 100%);
  padding: 15px 20px;
  border-radius: 15px;
  border: 0;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  transition: all ease-out 0.7s;
  transition: transform ease 0.5s;
  cursor: pointer;
}
.toggle-button img,
.toggle-button-product img {
  transition: all ease-out 0.7s;
  transform: none;
}
.toggle-button:hover,
.toggle-button:focus,
.toggle-button-product:hover,
.toggle-button-product:focus {
  transform: scale(1.1);
}

.toggle-button.expanded img,
.toggle-button-product.expanded img {
  transform: rotate(-90deg);
}
